<!DOCTYPE html>
<html>
<head>

  <title>
    paulintrognon.fr<% if content_for?(:page_title) %> | <%= yield(:page_title) %><% end %>
  </title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
